services/techniques/su-camel-emprunter-provide/src/main/resources/jbi/emprunter-livre.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://ausy.fr/training/petals/biblotheque/emprunter/1.0"
    xmlns:tns="http://ausy.fr/training/petals/biblotheque/emprunter/1.00"
    xmlns:camel="http://petals.ow2.org/components/petals-se-camel/wsdl/version-1.0"
    name="EmprunterLivre">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="http://ausy.fr/training/petals/biblotheque/emprunter/1.00">

            <xsd:element name="livreEstDejaEmprunte">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="identifiant" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="livreEstDejaEmprunteReponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="dejaEmprunter" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ajouterEmprunt">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="livre" type="xsd:long"/>
                        <xsd:element name="utilisateur" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="retournerEmprunt">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="livre" type="xsd:long"/>
                        <xsd:element name="utilisateur" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="livreEstDejaEmprunte">
        <wsdl:part name="parameters" element="tns:livreEstDejaEmprunte"/>
    </wsdl:message>
    <wsdl:message name="livreEstDejaEmprunteReponse">
        <wsdl:part name="parameters" element="tns:livreEstDejaEmprunteReponse"/>
    </wsdl:message>

    <wsdl:message name="ajouterEmprunt">
        <wsdl:part name="parameters" element="tns:ajouterEmprunt"/>
    </wsdl:message>

    <wsdl:message name="retournerEmprunt">
        <wsdl:part name="parameters" element="tns:retournerEmprunt"/>
    </wsdl:message>

    <wsdl:portType name="EmprunterLivreTechnique">
        <wsdl:operation name="livreEstDejaEmprunte">
            <wsdl:input message="tns:livreEstDejaEmprunte"/>
            <wsdl:output message="tns:livreEstDejaEmprunteReponse"/>
        </wsdl:operation>

        <wsdl:operation name="ajouterEmprunt">
            <wsdl:input message="tns:ajouterEmprunt"/>
        </wsdl:operation>

        <wsdl:operation name="retournerEmprunt">
            <wsdl:input message="tns:retournerEmprunt"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="EmprunterLivreTechniqueSoapBinding" type="tns:EmprunterLivreTechnique">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="livreEstDejaEmprunte">
            <camel:operation service-id="livreEstDejaEmprunte"/>
            <soap:operation
                soapAction="http://ausy.fr/training/petals/biblotheque/emprunter/1.0/livreEstDejaEmprunte"
                style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ajouterEmprunt">
            <camel:operation service-id="ajouterEmprunt"/>
            <soap:operation
                soapAction="http://ausy.fr/training/petals/biblotheque/emprunter/1.0/ajouterEmprunt"
                style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="retournerEmprunt">
            <camel:operation service-id="retournerEmprunt"/>
            <soap:operation
                soapAction="http://ausy.fr/training/petals/biblotheque/emprunter/1.0/retournerEmprunt"
                style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="EmprunterlLivreService">
        <wsdl:port name="autogenerate" binding="tns:EmprunterLivreTechniqueSoapBinding">
            <soap:address location="jbi://autogenerate"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
