services/techniques/su-sql-bibliotheque-provide/src/main/resources/jbi/bibliothequeSQLService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<wsdl:definitions name="BibliothequeSQL"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sql="http://petals.ow2.org/components/sql/version-1"
                  xmlns:tns="http://ausy.fr/training/petals/modele/bibliotheque/1.0/sql"
                  targetNamespace="http://ausy.fr/training/petals/modele/bibliotheque/1.0/sql">

    <wsdl:import namespace="http://petals.ow2.org/components/sql/version-1" location="SQLInterface.wsdl"/>

    <wsdl:binding name="BibliothequeSQLBinding" type="sql:SQLInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="select">
            <soap:operation soapAction="http://petals.ow2.org/components/sql/version-1/select"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <soap:operation soapAction="http://petals.ow2.org/components/sql/version-1/insert"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation soapAction="http://petals.ow2.org/components/sql/version-1/delete"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation soapAction="http://petals.ow2.org/components/sql/version-1/update"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="insertWithResponse">
            <soap:operation soapAction="http://petals.ow2.org/components/sql/version-1/insertWithResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteWithResponse">
            <soap:operation soapAction="http://petals.ow2.org/components/sql/version-1/deleteWithResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateWithResponse">
            <soap:operation soapAction="http://petals.ow2.org/components/sql/version-1/updateWithResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="storedProcedure">
            <soap:operation soapAction="http://petals.ow2.org/components/sql/version-1/storedProcedure"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="XMLStoredProcedure">
            <soap:operation soapAction="http://petals.ow2.org/components/sql/version-1/XMLStoredProcedure"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BibliothequeSQLService">
        <wsdl:port binding="tns:BibliothequeSQLBinding" name="autogenerate">
            <soap:address location="http://petals.ow2.org/BibliothequeSQLService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
